<?xml version="1.0"?>
<launch>
    <!--要加载的地图-->
    <arg name="robot_name"    default="$(env ROBOT_HOST)" />
    <arg name="map"           default=""/>
    <arg name="planning_map"  default="$(arg map)"/>
    <arg name="map_file"      default="$(find hiwonder_slam)/maps/$(arg map).yaml"/>
    <arg name="planning_map_file" default="$(find hiwonder_slam)/maps/$(arg planning_map).yaml"/>

    <!-- AMCL /scan 匹配用的定位图 -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" ns="$(arg robot_name)" >
        <param     if="$(eval robot_name == '/')" name="frame_id" value="map" />
        <param unless="$(eval robot_name == '/')" name="frame_id" value="$(arg robot_name)/map" />
    </node>

    <!-- 规划图：台子等雷达看不到的障碍只给 costmap，不给 AMCL -->
    <node if="$(eval arg('planning_map') != arg('map'))"
          name="map_server_planning" pkg="map_server" type="map_server"
          args="$(arg planning_map_file)" ns="$(arg robot_name)">
        <remap from="map" to="map_planning"/>
        <param     if="$(eval robot_name == '/')" name="frame_id" value="map" />
        <param unless="$(eval robot_name == '/')" name="frame_id" value="$(arg robot_name)/map" />
    </node>
</launch>
