<?xml version="1.0"?>
<launch>
    <arg name="start"   default="true"/>
    <arg name="color"   default="blue"/>
    <!--底盘驱动(chassis driver)-->
    <include file="$(find hiwonder_controller)/launch/hiwonder_controller.launch"/>
    <include file="$(find hiwonder_peripherals)/launch/depth_cam.launch"/>
    <include file="$(find hiwonder_kinematics)/launch/kinematics_node.launch"/>
    <node pkg="hiwonder_example" type="track_and_grab.py" name="track_and_grab" output="screen">
        <param name="start" value="$(arg start)"/>
        <param name="color" value="$(arg color)"/>
    </node>
</launch>
