<?xml version="1.0"?>
<!--垃圾分类-->
<launch>
    <include file="$(find hiwonder_peripherals)/launch/depth_cam.launch"/>

    <arg name="node_name" default="yolov5" />
    <rosparam param="/$(arg node_name)/classes">['BananaPeel','BrokenBones','CigaretteEnd','DisposableChopsticks','Ketchup','Marker','OralLiquidBottle','Plate','PlasticBottle','StorageBattery','Toothbrush', 'Umbrella']</rosparam>
    <rosparam file="$(find hiwonder_example)/config/yolov5_bridge.yaml"   command="load"/>

    <node pkg="hiwonder_example" type="yolov5_node.py" name="$(arg node_name)" output="screen">
        <param name="engine"        value="garbage_classification_320s_6_2.engine"/>
        <param name="lib"           value="libmyplugins_320.so"/>
        <param name="conf_thresh"   value="0.8"/>
    </node>
</launch>
