[submodule "src/third_party/rplidar_ros"]
	path = src/third_party/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "src/third_party/frontier_exploration"]
	path = src/third_party/frontier_exploration
	url = https://github.com/paulbovbel/frontier_exploration.git
	branch = melodic-devel
[submodule "src/third_party/imu_calib"]
	path = src/third_party/imu_calib
	url = https://github.com/dpkoch/imu_calib.git
[submodule "src/third_party/vision_opencv"]
	path = src/third_party/vision_opencv
    url = https://github.com/BrutusTT/vision_opencv.git
    branch = melodic
[submodule "src/third_party/image_transport_plugins"]
	path = src/third_party/image_transport_plugins
	url = https://github.com/ros-perception/image_transport_plugins.git
[submodule "src/third_party/image_common"]
	path = src/third_party/image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "src/third_party/rf2o_laser_odometry"]
	path = src/third_party/rf2o_laser_odometry
	url = https://github.com/artivis/rf2o_laser_odometry.git
[submodule "src/third_party/ydlidar_ros_driver"]
	path = src/third_party/ydlidar_ros_driver
	url = https://github.com/YDLIDAR/ydlidar_ros_driver.git
[submodule "src/third_party/cartographer_ros"]
	path = src/third_party/cartographer_ros
	url = https://github.com/cartographer-project/cartographer_ros.git
[submodule "src/third_party/cartographer"]
	path = src/third_party/cartographer
	url = https://github.com/cartographer-project/cartographer.git
[submodule "src/third_party/sparse_bundle_adjustment"]
	path = src/third_party/sparse_bundle_adjustment
	url = https://github.com/ros-perception/sparse_bundle_adjustment.git
